/*
colors used:
primary color (light pink): #F0D8D3;
secondary color (blue): #556CA3;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #F0D8D3;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-transform: lowercase;
  color: #556CA3;
}

h1, h2, h3, h4 {
line-height: 1.4;
}
h1 {
font-size: 2.75em;
font-weight: 700;
}

h2 {
font-size: 2.25em;
font-weight: 700;
}

h3 {
font-size: 1.75em;
font-weight: 400;
}
h4 {
font-size: 1.35em;
font-weight: 400;
}

/*images*/
img, svg {
  width: 100%;
}

/*links*/
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
}

/*buttons*/
.button {
  display: inline-block;
  background-color: #556CA3;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border: 3px;
  border-bottom: 2px solid #556CA3;
  transition: 0.2s opacity;
}
.button:hover {
  background-color: #556CA3;
  color: #ffffff;
  opacity: 0.8;
}
.button.contact {
  background-color: #556CA3;
  color: #ff7f50;
  border: 2px solid #556CA3;
}
.button.contact:hover {
  background-color: #556CA3;
  color: #ffffff;
}
.button.link {
  background-color: #556CA3;
  color: #ff7f50;
  border: 2px solid #556CA3;
}
.button.link:hover {
  background-color: #556CA3;
  color: #ffffff;
}

/* layout styling */
.logo, .logo:visited, .logo:hover {
  color: #556CA3;
  font-size: 18px;
  font-family: Gopher;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  min-width: 641px;
  background-color: #F0D8D3;
  padding: 10px 0 0;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  }

.container {
  padding: 0 15px;
}
#work .row {
  margin: 25px 15px; /* 25 px top and bottom, 15 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
.social {
  text-align: center;
  padding-top: 30px;
}
.social a {
  display: inline-block;
  padding: 0 4px;
}

.logo {
  max-width: 250px;
  margin-top: 15px;
}

nav {
  display: inline-block;
  width: 100%;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle,
.navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(134, 134, 134, 0.192);
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: lowercase;
  font-weight: 700;
  color: white;
}

main {
  padding-top: 80px;
}

#hero {
  background-color: #F0D8D3;
}

#hero {
  background-color: #F0D8D3;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.row.solution::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding-left: 10px;
}



@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(1000px,50px);}
}

.chair {
  animation-duration: 5s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
.logo {
  float: left;
}
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
    margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  #hero span {
  display: block;
}

.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding-left: 10px;
}

main {
  padding-top: 90px;
}
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
[class*="col-"] {
  float: left;
  padding-left: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
