/*
colors used:
primary color (light pink): #F0D8D3;
secondary color (blue): #556CA3;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #F0D8D3;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-transform: lowercase;
  color: #white;
}

h1, h2, h3, h4 {
line-height: 1.4;
}
h1 {
font-size: 2.75em;
font-weight: 700;
}

h2 {
font-size: 2.25em;
font-weight: 700;
}

h3 {
font-size: 1.75em;
font-weight: 400;
}
h4 {
font-size: 1.35em;
font-weight: 400;
}

/*images*/
img {
  width: 100%;
}

/*links*/
a {
  color: #ff7f50;
  text-decoration: none;
}
a:visited {
  color: #ff7f50;
}
a:hover {
  color: #cc6540;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
a:active {
  color: #994c30;
}

/*buttons*/
.button {
  display: inline-block;
  background-color: transparent;
  color: #ff7f50;
  font-weight: 400;
  padding: 10px;
  border-radius: 2px solid #ff7f50;
  transition: 0.2s opacity;
}
.button:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
.button.link {
  background-color: transparent;
  color: #ff7f50;
  border: 2px solid #ff7f50;
}
.button.link:hover {
  background-color: #ff7f50;
  color: #ffffff;

/* layout styling */

header {
  position: fixed;
  width: 100%;
  background-color: #ff7f50;
  padding: 10px 0 0;
  text-align: center;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  }
.container {
  padding: 0 15px;
}
#work .row {
  margin: 25px 15px; /* 25 px top and bottom, 15 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
.logo {
  max-width: 250px;
  margin-top: 15px;
}

nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #ff7f50;
}

#hero {
  background-color: #ff7f50;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}
